@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 20px;
    @apply font-serif;
  }

  h1 {
    @apply font-sans font-bold text-5xl mb-3;
  }

  p + p {
    @apply mt-4;
  }

  a {
    @apply underline;
  }

  table {
    @apply my-4 mx-auto;
  }

  td, th {
    @apply px-3 font-normal;
  }
}
